<div class="tour__package">
  <div class="tour__title">
    <div class="tour__title_group">
      <div class="tour__title_line"></div>
      <img class="tour__title_circle" src="./assets/images/Ellipse 3.png" alt="">
      <h4 class="tour__title_text">فهرست تورها</h4>
      <img class="tour__title_circle" src="./assets/images/Ellipse 3.png" alt="">
      <div class="tour__title_line"></div>
    </div>
    
    <img class="tour__title_map" src="./assets/images/Calque 2.png" alt="">
  </div>
  <article class="tour__list">

      <div class="tour">
          <button class="tour__sale">٪ تخفیف ویژه</button>
          <img class="tour__img" src="./assets/images/skylon-tower-500x322-1.png" alt="tower">
          <h4>لهستان، مجارستان، اتریش، چک، اسلواکی</h4>
          <div class="tour__content"><p class="tour__des_grey">(ورشو،بوداپست،وین،پراگ،براتیسلاوا) </p></div>
          <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
          <p class="tour__text">تاریخ رفت: 6 شهریور</p>
          </div>
          <div>
              <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>25900 یورو+نرخ پرواز</p></div>
              <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
          </div>
          <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
    </div>
    <div class="tour">
      <button class="tour__sale">٪ تخفیف ویژه</button>
      <img class="tour__img" src="./assets/images/skylon-tower-500x322-2.png" alt="tower">
      <h4>لهستان، مجارستان</h4>
      <div class="tour__content"><p class="tour__des_grey">(ورشو، بوداپست)</p></div>
      <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
      <p class="tour__text">تاریخ رفت: 9 مرداد </p>
      </div>
      <div>
          <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>1590 یورو+نرخ پرواز</p></div>
          <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
      </div>
      <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
</div>
   
      
<div class="tour">
  <button class="tour__sale">٪ تخفیف ویژه</button>
  <img class="tour__img" src="./assets/images/skylon-tower-500x322-3.png" alt="tower">
  <h4>فنلاند،کشتی کروز،سوئد،نروژ،دانمارک</h4>
  <div class="tour__content"><p class="tour__des_grey">(هلسینکی،کروز،استکهلم،اسلو،کروز،کپنهاگ) </p></div>
  <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
  <p class="tour__text">تاریخ رفت: 18 مرداد</p>
  </div>
  <div>
      <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p> 3250  یورو + نرخ پرواز</p></div>
      <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
  </div>
  <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
</div>
<div class="tour">
<button class="tour__sale">٪ تخفیف ویژه</button>
<img class="tour__img" src="./assets/images/skylon-tower-500x322-4.png" alt="tower">
<h4>فنلاند ، کشتی کروز ، سوئد</h4>
<div class="tour__content"><p class="tour__des_grey">(هلسینکی,کروز،استکهلم)</p></div>
<div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
<p class="tour__text">تاریخ رفت: 29 تیر</p>
</div>
<div>
  <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>1850 یورو+نرخ پرواز</p></div>
  <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
</div>
<button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
</div>
<div class="tour">
<button class="tour__sale">٪ تخفیف ویژه</button>
<img class="tour__img" src="./assets/images/skylon-tower-500x322-5.png" alt="tower">
<h4>فنلاند ، کشتی کروز ، سوئد</h4>
<div class="tour__content"><p class="tour__des_grey">(هلسینکی,کروز،استکهلم) </p></div>
<div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
<p class="tour__text">تاریخ رفت: 23 شهریور</p>
</div>
<div>
  <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>1950 یورو+نرخ پرواز</p></div>
  <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
</div>
<button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
</div>
<div class="tour">
<button class="tour__sale">٪ تخفیف ویژه</button>
<img class="tour__img" src="./assets/images/skylon-tower-500x322-6.png" alt="tower">
<h4>ژاپن</h4>
<div class="tour__content"><p class="tour__des_grey">(توکیو،هاکونه،اوساکا،کیوتو،نارا،هیروشیما)</p></div>
<div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
<p class="tour__text">تاریخ رفت: 15 شهریور</p>
</div>
<div>
  <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>3500 یورو+نرخ پرواز</p></div>
  <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
</div>
<button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
</div>
<div class="tour">
  <button class="tour__sale">٪ تخفیف ویژه</button>
  <img class="tour__img" src="./assets/images/skylon-tower-500x322-7.png" alt="tower">
  <h4> کانادا</h4>
  <div class="tour__content"><p class="tour__des_grey">(تورنتو،نیاگارا،مونترال،اتاوا، ویکتوریا،ونکوور)</p></div>
  <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
  <p class="tour__text">تاریخ رفت: 1 تیر</p>
  </div>
  <div>
    <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>5950 یورو+نرخ پرواز</p></div>
    <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
  </div>
  <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
  </div>
  <div class="tour">
  <button class="tour__sale">٪ تخفیف ویژه</button>
  <img class="tour__img" src="./assets/images/skylon-tower-500x322-8.png" alt="tower">
  <h4>اسپانیا و ایتالیا</h4>
  <div class="tour__content"><p class="tour__des_grey">(بارسلون،رم)</p></div>
  <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
  <p class="tour__text">تاریخ رفت: 27 مرداد</p>
  </div>
  <div>
    <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>2100 یورو+نرخ پرواز</p></div>
    <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
  </div>
  
    <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
    </div>
    <div class="tour">
      <button class="tour__sale">٪ تخفیف ویژه</button>
      <img class="tour__img" src="./assets/images/skylon-tower-500x322-9.png" alt="tower">
      <h4>چک و اتریش</h4>
      <div class="tour__content"><p class="tour__des_grey">(پراگ،وین)</p></div>
      <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
      <p class="tour__text">تاریخ رفت: 19 تیر</p>
      </div>
      <div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>1450 یورو+نرخ پرواز</p></div>
        <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
      </div>
      
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
        </div>
        <div class="tour">
          <button class="tour__sale">٪ تخفیف ویژه</button>
          <img class="tour__img" src="./assets/images/skylon-tower-500x322-10.png" alt="tower">
          <h4>چک و اتریش</h4>
          <div class="tour__content"><p class="tour__des_grey">(پراگ،وین)</p></div>
          <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
          <p class="tour__text">تاریخ رفت: 15 مرداد</p>
          </div>
          <div>
            <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>1790 یورو+نرخ پرواز</p></div>
            <p class="tour__price_grey">قیمت برای هر نفر در اتاق دو تخته</p>
          </div>
          
            <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
            </div> 
</article>
</div>